Block 6 - Final Project - Offensive Speech Detection/06_Demo/
Block 5 - Project GetAround/06_Demo/
01_Certification_Presentation_22March.pptx 
01_Certification_Presentation_28August.pptx
01_Certification_Presentation_28August_Final.pptx